body {
  background: url('../img/homebg11.png') no-repeat center center fixed;
  background-size: cover;
}

.blur {
  /*background: url('../img/homebg11.png') no-repeat center center fixed;*/
  /*background-size: cover;*/
  overflow: hidden;
  /*filter: blur(20px);*/
  /*position: absolute;*/
  border-top: 10px solid rgba(255, 255, 255, .5);
  border-bottom: 10px solid rgba(255, 255, 255, .5);
  background-color: #9AD6C1;
  height: 700px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.widget {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
.button {
  margin:auto;
  display:block;
}
