.initially-hidden {
  display: none;
}

.header {
  text-align: center;
  color: white;
  background-color: #663300;
  margin-top: 10px;
  padding-top: 25px;
  font-style: italic;

}

.info-toggle {
  display: none;
}

h4 {
  cursor: pointer;
  font-weight: bold;
}

h1 {
  background-color: white;

}

body{
  align-items: center;
  background-color: #9AD6C1;
}
.wrapper {
  margin: auto;
  width: 50%;
  background-color: white;
  margin-top: 15px;
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 11px double yellow;
  padding-left: 10px;
  padding-right: 10px;

}

.textbreak {
  padding-top: .5%;
  padding-bottom: .5%;
}

.footerspace {
  background-color: #663300;
  margin-top: 1.6%;
  padding-top: .5%;
  padding-bottom: 25px;
  margin-bottom: 10px;

}

#textarea {
  width: 70%;
  height: 40%;

}

#rcorners1 {
    border-radius: 25px;
    padding: 20px;
    width: 85%;
    height: 85%;
}

#theInput {
  width:400px;
}

#inputName {
  width:400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid brown;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#inputName:focus {
  width:400px;
  border: 3px solid yellow;
}
#inputCost {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid brown;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#inputCost:focus {
  width: 400px;
  border: 3px solid yellow;
}

#box {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  overflow: auto;
  box-shadow: 10px 10px 5px grey;;
}

#boxCost {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  overflow: auto;
  box-shadow: 10px 10px 5px grey;;
}
#button {
  display: inline-block;
  border-radius: 4px;
  background-color: #844506;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button:hover span {
  padding-right: 25px;
}

#button:hover span:after {
  opacity: 1;
  right: 0;
}

.person1 {
  padding-left: 20px;
  padding-right: 20px;
  border-style: ridge;
  border-color: #663300;
}

.pay {
  text-align: center;
  color: white;
  background-color: #663300;
  margin-top: 10px;
  padding-top: 25px;
  font-style: italic;
}
